.fields {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      align-items: center;
    }
.field {
  flex: 1;
}
.input-group {
  flex: 1;
}
.input-group .form-select {
    width: auto; /* Allow the width to adjust automatically */
    flex: 0 1 auto; /* Ensure it can shrink but not grow */
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }
  .mt-dataImport {
    max-width: 680px
}

.mt-dataImport input[type=file] {
    display: none
}
.scrollable-ul {
  height: 200px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  /*border: 1px solid #ccc;  Optional: Add a border for better visibility */
  padding: 10px; /* Optional: Add padding */
  list-style-type: none; /* Optional: Remove default list styles */
  margin: 0; /* Optional: Remove default margin */
}

.scrollable-ul li {
  padding: 5px 0; /* Optional: Add padding to list items */
}
.datesets {
  display: flex;
  align-items: center;
}
.datesets h6 {
  margin: 0 10px 0 0;
}
.datesets input {
  margin-right: 20px;
}